<a href="https://colab.research.google.com/github/SedasN/google-colab_test/blob/main/second_book.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
# df = pd.read_csv('100 Sales Records.csv')

In [ ]:
s = pd.Series(df.values.flatten())

In [ ]:
s

0       Australia and Oceania
1                      Tuvalu
2                   Baby Food
3                     Offline
4                           H
                ...
1395                   668.27
1396                   502.54
1397               3586605.09
1398               2697132.18
1399                889472.91
Length: 1400, dtype: object

In [ ]:
total_sales = df.sum()
print(total_sales)

Region            Australia and OceaniaCentral America and the C...
Country           TuvaluGrenadaRussiaSao Tome and PrincipeRwanda...
Item Type         Baby FoodCerealOffice SuppliesFruitsOffice Sup...
Sales Channel     OfflineOnlineOfflineOnlineOfflineOnlineOffline...
Order Priority    HCLCLCMHMHHHLHCMMCLLLHLHLHMLCLMCCHMLLMLMHMHHHH...
Order Date        5/28/20108/22/20125/2/20146/20/20142/1/20132/4...
Order ID                                                55502041236
Ship Date         6/27/20109/15/20125/8/20147/5/20142/6/20132/21...
Units Sold                                                   512871
Unit Price                                                 27676.13
Unit Cost                                                   19104.8
Total Revenue                                          137348768.31
Total Cost                                              93180569.91
Total Profit                                             44168198.4
dtype: object

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving db.json to db (1).json

In [ ]:
print(uploaded)

{'db (1).json': b'[\r\n  {\r\n    "sql_id": "Muhammadrizo_Shokiri_MwW5UVb6Y",\r\n    "id": "68",\r\n    "name_tj": "\xd0\x9c\xd1\x83\xd2\xb3\xd0\xb0\xd0\xbc\xd0\xbc\xd0\xb0\xd0\xb4\xd1\x80\xd0\xb8\xd0\xb7\xd0\xbe",\r\n    "last_name_tj": "\xd0\xa8\xd0\xbe\xd0\xba\xd0\xb8\xd1\x80\xd3\xa3",\r\n    "name_en": "Muhammadrizo",\r\n    "last_name_en": "Shokiri",\r\n    "gender": "Male",\r\n    "student_group": "\xec\xb4\x88\xea\xb8\x89 2B-1",\r\n    "time_lesson": "14:00",\r\n    "topik": "2 lvl",\r\n    "payment": "Certificate",\r\n    "student_status": "registered",\r\n    "exam": "No",\r\n    "agreement": "Agree",\r\n    "book": "Own Book"\r\n  },\r\n  {\r\n    "sql_id": "Zuhro_Hamidova_YtP7KLf9A",\r\n    "id": "69",\r\n    "name_tj": "\xd0\x97\xd1\x83\xd2\xb3\xd1\x80\xd0\xbe",\r\n    "last_name_tj": "\xd2\xb2\xd0\xb0\xd0\xbc\xd0\xb8\xd0\xb4\xd0\xbe\xd0\xb2\xd0\xb0",\r\n    "name_en": "Zuhro",\r\n    "last_name_en": "Hamidova",\r\n    "gender": "Female",\r\n    "student_group": "\xec\xb4\x88\xea\xb8\x89 2B-1",\r\n    "time_lesson": "14:00",\r\n    "topik": "1 lvl",\r\n    "payment": "Certificate",\r\n    "student_status": "registered",\r\n    "exam": "No",\r\n    "agreement": "Agree",\r\n    "book": "Buy at Center"\r\n  },\r\n  {\r\n    "sql_id": "Farhod_Safarov_KuP3TBh7D",\r\n    "id": "70",\r\n    "name_tj": "\xd0\xa4\xd0\xb0\xd1\x80\xd2\xb3\xd0\xbe\xd0\xb4",\r\n    "last_name_tj": "\xd0\xa1\xd0\xb0\xd1\x84\xd0\xb0\xd1\x80\xd0\xbe\xd0\xb2",\r\n    "name_en": "Farhod",\r\n    "last_name_en": "Safarov",\r\n    "gender": "Male",\r\n    "student_group": "\xec\xb4\x88\xea\xb8\x89 2B-1",\r\n    "time_lesson": "10:00",\r\n    "topik": "0 lvl",\r\n    "payment": "Cash",\r\n    "student_status": "registered",\r\n    "exam": "No",\r\n    "agreement": "Agree",\r\n    "book": "Own Book"\r\n  },\r\n  {\r\n    "sql_id": "Madina_Karimova_JbN2WRq8Z",\r\n    "id": "71",\r\n    "name_tj": "\xd0\x9c\xd0\xb0\xd0\xb4\xd0\xb8\xd0\xbd\xd0\xb0",\r\n    "last_name_tj": "\xd0\x9a\xd0\xb0\xd1\x80\xd0\xb8\xd0\xbc\xd0\xbe\xd0\xb2\xd0\xb0",\r\n    "name_en": "Madina",\r\n    "last_name_en": "Karimova",\r\n    "gender": "Female",\r\n    "student_group": "\xec\xb4\x88\xea\xb8\x89 2B-1",\r\n    "time_lesson": "16:00",\r\n    "topik": "2 lvl",\r\n    "payment": "Card",\r\n    "student_status": "registered",\r\n    "exam": "Yes",\r\n    "agreement": "Agree",\r\n    "book": "Buy at Center"\r\n  },\r\n  {\r\n    "sql_id": "Jamshed_Akramov_LmC5RXa4V",\r\n    "id": "72",\r\n    "name_tj": "\xd2\xb6\xd0\xb0\xd0\xbc\xd1\x88\xd0\xb5\xd0\xb4",\r\n    "last_name_tj": "\xd0\x90\xd0\xba\xd1\x80\xd0\xb0\xd0\xbc\xd0\xbe\xd0\xb2",\r\n    "name_en": "Jamshed",\r\n    "last_name_en": "Akramov",\r\n    "gender": "Male",\r\n    "student_group": "\xec\xb4\x88\xea\xb8\x89 2B-1",\r\n    "time_lesson": "09:00",\r\n    "topik": "3 lvl",\r\n    "payment": "Certificate",\r\n    "student_status": "registered",\r\n    "exam": "Yes",\r\n    "agreement": "Agree",\r\n    "book": "Own Book"\r\n  },\r\n  {\r\n    "sql_id": "Nigina_Sattorova_QzH9VEc1K",\r\n    "id": "73",\r\n    "name_tj": "\xd0\x9d\xd0\xb8\xd0\xb3\xd0\xb8\xd0\xbd\xd0\xb0",\r\n    "last_name_tj": "\xd0\xa1\xd0\xb0\xd1\x82\xd1\x82\xd0\xbe\xd1\x80\xd0\xbe\xd0\xb2\xd0\xb0",\r\n    "name_en": "Nigina",\r\n    "last_name_en": "Sattorova",\r\n    "gender": "Female",\r\n    "student_group": "\xec\xa4\x91\xea\xb8\x89 1A-1",\r\n    "time_lesson": "11:00",\r\n    "topik": "1 lvl",\r\n    "payment": "Card",\r\n    "student_status": "registered",\r\n    "exam": "No",\r\n    "agreement": "Agree",\r\n    "book": "Own Book"\r\n  },\r\n  {\r\n    "sql_id": "Sherzod_Mirzoev_RtV6UZf3P",\r\n    "id": "74",\r\n    "name_tj": "\xd0\xa8\xd0\xb5\xd1\x80\xd0\xb7\xd0\xbe\xd0\xb4",\r\n    "last_name_tj": "\xd0\x9c\xd0\xb8\xd1\x80\xd0\xb7\xd0\xbe\xd0\xb5\xd0\xb2",\r\n    "name_en": "Sherzod",\r\n    "last_name_en": "Mirzoev",\r\n    "gender": "Male",\r\n    "student_group": "\xec\xa4\x91\xea\xb8\x89 1A-1",\r\n    "time_lesson": "14:00",\r\n    "topik": "2 lvl",\r\n    "payment": "Certificate",\r\n    "student_status": "registered",\r\n    "exam": "No",\r\n    "agreement": "Agree",\r\n    "book": "Buy at Center"\r\n  },\r\n  {\r\n    "sql_id": "Mavluda_Nazarova_SgP2JKq5E",\r\n    "id": "75",\r\n    "name_tj": "\xd0\x9c\xd0\xb0\xd0\xb2\xd0\xbb\xd1\x83\xd0\xb4\xd0\xb0",\r\n    "last_name_tj": "\xd0\x9d\xd0\xb0\xd0\xb7\xd0\xb0\xd1\x80\xd0\xbe\xd0\xb2\xd0\xb0",\r\n    "name_en": "Mavluda",\r\n    "last_name_en": "Nazarova",\r\n    "gender": "Female",\r\n    "student_group": "\xec\xa4\x91\xea\xb8\x89 1A-1",\r\n    "time_lesson": "10:00",\r\n    "topik": "3 lvl",\r\n    "payment": "Card",\r\n    "student_status": "registered",\r\n    "exam": "Yes",\r\n    "agreement": "Agree",\r\n    "book": "Own Book"\r\n  },\r\n  {\r\n    "sql_id": "Ismoil_Jurayev_TyM3CDh8B",\r\n    "id": "76",\r\n    "name_tj": "\xd0\x98\xd1\x81\xd0\xbc\xd0\xbe\xd0\xb8\xd0\xbb",\r\n    "last_name_tj": "\xd2\xb6\xd1\x83\xd1\x80\xd0\xb0\xd0\xb5\xd0\xb2",\r\n    "name_en": "Ismoil",\r\n    "last_name_en": "Jurayev",\r\n    "gender": "Male",\r\n    "student_group": "\xec\xa4\x91\xea\xb8\x89 1A-1",\r\n    "time_lesson": "09:00",\r\n    "topik": "1 lvl",\r\n    "payment": "Certificate",\r\n    "student_status": "registered",\r\n    "exam": "No",\r\n    "agreement": "Agree",\r\n    "book": "Own Book"\r\n  },\r\n  {\r\n    "sql_id": "Zarina_Qodirova_UkL4YRt6D",\r\n    "id": "77",\r\n    "name_tj": "\xd0\x97\xd0\xb0\xd1\x80\xd0\xb8\xd0\xbd\xd0\xb0",\r\n    "last_name_tj": "\xd2\x9a\xd0\xbe\xd0\xb4\xd0\xb8\xd1\x80\xd0\xbe\xd0\xb2\xd0\xb0",\r\n    "name_en": "Zarina",\r\n    "last_name_en": "Qodirova",\r\n    "gender": "Female",\r\n    "student_group": "\xec\xb4\x88\xea\xb8\x89 1B-2",\r\n    "time_lesson": "13:00",\r\n    "topik": "1 lvl",\r\n    "payment": "Cash",\r\n    "student_status": "registered",\r\n    "exam": "No",\r\n    "agreement": "Agree",\r\n    "book": "Buy at Center"\r\n  },\r\n  {\r\n    "sql_id": "Rustam_Karimov_VrP9TZm2F",\r\n    "id": "78",\r\n    "name_tj": "\xd0\xa0\xd1\x83\xd1\x81\xd1\x82\xd0\xb0\xd0\xbc",\r\n    "last_name_tj": "\xd0\x9a\xd0\xb0\xd1\x80\xd0\xb8\xd0\xbc\xd0\xbe\xd0\xb2",\r\n    "name_en": "Rustam",\r\n    "last_name_en": "Karimov",\r\n    "gender": "Male",\r\n    "student_group": "\xec\xb4\x88\xea\xb8\x89 1B-2",\r\n    "time_lesson": "17:00",\r\n    "topik": "4 lvl",\r\n    "payment": "Certificate",\r\n    "student_status": "registered",\r\n    "exam": "Yes",\r\n    "agreement": "Agree",\r\n    "book": "Own Book"\r\n  },\r\n  {\r\n    "sql_id": "Dilnoza_Usmonova_WqJ7EFn4S",\r\n    "id": "79",\r\n    "name_tj": "\xd0\x94\xd0\xb8\xd0\xbb\xd0\xbd\xd0\xbe\xd0\xb7\xd0\xb0",\r\n    "last_name_tj": "\xd0\xa3\xd1\x81\xd0\xbc\xd0\xbe\xd0\xbd\xd0\xbe\xd0\xb2a",\r\n    "name_en": "Dilnoza",\r\n    "last_name_en": "Usmonova",\r\n    "gender": "Female",\r\n    "student_group": "\xec\xb4\x88\xea\xb8\x89 1B-2",\r\n    "time_lesson": "11:00",\r\n    "topik": "2 lvl",\r\n    "payment": "Card",\r\n    "student_status": "registered",\r\n    "exam": "No",\r\n    "agreement": "Agree",\r\n    "book": "Own Book"\r\n  },\r\n  {\r\n    "sql_id": "Abdurahmon_Saidov_XmD2PNr7V",\r\n    "id": "80",\r\n    "name_tj": "\xd0\x90\xd0\xb1\xd0\xb4\xd1\x83\xd1\x80\xd0\xb0\xd2\xb3\xd0\xbc\xd0\xbe\xd0\xbd",\r\n    "last_name_tj": "\xd0\xa1\xd0\xb0\xd0\xb8\xd0\xb4\xd0\xbe\xd0\xb2",\r\n    "name_en": "Abdurahmon",\r\n    "last_name_en": "Saidov",\r\n    "gender": "Male",\r\n    "student_group": "\xec\xb4\x88\xea\xb8\x89 1B-2",\r\n    "time_lesson": "15:00",\r\n    "topik": "2 lvl",\r\n    "payment": "Certificate",\r\n    "student_status": "registered",\r\n    "exam": "No",\r\n    "agreement": "Agree",\r\n    "book": "Buy at Center"\r\n  },\r\n  {\r\n    "sql_id": "Malika_Khojieva_YnK5SDh6G",\r\n    "id": "81",\r\n    "name_tj": "\xd0\x9c\xd0\xb0\xd0\xbb\xd0\xb8\xd0\xba\xd0\xb0",\r\n    "last_name_tj": "\xd0\xa5\xd0\xbe\xd2\xb7\xd0\xb8\xd0\xb5\xd0\xb2\xd0\xb0",\r\n    "name_en": "Malika",\r\n    "last_name_en": "Khojieva",\r\n    "gender": "Female",\r\n    "student_group": "\xec\xb4\x88\xea\xb8\x89 1B-2",\r\n    "time_lesson": "10:00",\r\n    "topik": "1 lvl",\r\n    "payment": "Card",\r\n    "student_status": "registered",\r\n    "exam": "No",\r\n    "agreement": "Agree",\r\n    "book": "Own Book"\r\n  }\r\n]\r\n'}

In [ ]:
a = pd.Series(uploaded)

In [ ]:
a

db (1).json    b'[\r\n  {\r\n    "sql_id": "Muhammadrizo_Shok...
dtype: object

In [ ]:
import json

In [ ]:
import json

# читаем однострочный JSON
with open('db.json', 'r') as f:
    data = json.load(f)

# записываем красиво
with open('db_pretty.json', 'w') as f:
    json.dump(data, f, indent=4, ensure_ascii=False)

print("Файл db_pretty.json отформатирован.")

Файл db_pretty.json отформатирован.

In [ ]:
print(json.dumps(data, indent=4, ensure_ascii=False))

[
    {
        "sql_id": "Muhammadrizo_Shokiri_MwW5UVb6Y",
        "id": "68",
        "name_tj": "Муҳаммадризо",
        "last_name_tj": "Шокирӣ",
        "name_en": "Muhammadrizo",
        "last_name_en": "Shokiri",
        "gender": "Male",
        "student_group": "초급 2B-1",
        "time_lesson": "14:00",
        "topik": "2 lvl",
        "payment": "Certificate",
        "student_status": "registered",
        "exam": "No",
        "agreement": "Agree",
        "book": "Own Book"
    },
    {
        "sql_id": "Zuhro_Hamidova_YtP7KLf9A",
        "id": "69",
        "name_tj": "Зуҳро",
        "last_name_tj": "Ҳамидова",
        "name_en": "Zuhro",
        "last_name_en": "Hamidova",
        "gender": "Female",
        "student_group": "초급 2B-1",
        "time_lesson": "14:00",
        "topik": "1 lvl",
        "payment": "Certificate",
        "student_status": "registered",
        "exam": "No",
        "agreement": "Agree",
        "book": "Buy at Center"
    },
    {
        "sql_id": "Farhod_Safarov_KuP3TBh7D",
        "id": "70",
        "name_tj": "Фарҳод",
        "last_name_tj": "Сафаров",
        "name_en": "Farhod",
        "last_name_en": "Safarov",
        "gender": "Male",
        "student_group": "초급 2B-1",
        "time_lesson": "10:00",
        "topik": "0 lvl",
        "payment": "Cash",
        "student_status": "registered",
        "exam": "No",
        "agreement": "Agree",
        "book": "Own Book"
    },
    {
        "sql_id": "Madina_Karimova_JbN2WRq8Z",
        "id": "71",
        "name_tj": "Мадина",
        "last_name_tj": "Каримова",
        "name_en": "Madina",
        "last_name_en": "Karimova",
        "gender": "Female",
        "student_group": "초급 2B-1",
        "time_lesson": "16:00",
        "topik": "2 lvl",
        "payment": "Card",
        "student_status": "registered",
        "exam": "Yes",
        "agreement": "Agree",
        "book": "Buy at Center"
    },
    {
        "sql_id": "Jamshed_Akramov_LmC5RXa4V",
        "id": "72",
        "name_tj": "Ҷамшед",
        "last_name_tj": "Акрамов",
        "name_en": "Jamshed",
        "last_name_en": "Akramov",
        "gender": "Male",
        "student_group": "초급 2B-1",
        "time_lesson": "09:00",
        "topik": "3 lvl",
        "payment": "Certificate",
        "student_status": "registered",
        "exam": "Yes",
        "agreement": "Agree",
        "book": "Own Book"
    },
    {
        "sql_id": "Nigina_Sattorova_QzH9VEc1K",
        "id": "73",
        "name_tj": "Нигина",
        "last_name_tj": "Сатторова",
        "name_en": "Nigina",
        "last_name_en": "Sattorova",
        "gender": "Female",
        "student_group": "중급 1A-1",
        "time_lesson": "11:00",
        "topik": "1 lvl",
        "payment": "Card",
        "student_status": "registered",
        "exam": "No",
        "agreement": "Agree",
        "book": "Own Book"
    },
    {
        "sql_id": "Sherzod_Mirzoev_RtV6UZf3P",
        "id": "74",
        "name_tj": "Шерзод",
        "last_name_tj": "Мирзоев",
        "name_en": "Sherzod",
        "last_name_en": "Mirzoev",
        "gender": "Male",
        "student_group": "중급 1A-1",
        "time_lesson": "14:00",
        "topik": "2 lvl",
        "payment": "Certificate",
        "student_status": "registered",
        "exam": "No",
        "agreement": "Agree",
        "book": "Buy at Center"
    },
    {
        "sql_id": "Mavluda_Nazarova_SgP2JKq5E",
        "id": "75",
        "name_tj": "Мавлуда",
        "last_name_tj": "Назарова",
        "name_en": "Mavluda",
        "last_name_en": "Nazarova",
        "gender": "Female",
        "student_group": "중급 1A-1",
        "time_lesson": "10:00",
        "topik": "3 lvl",
        "payment": "Card",
        "student_status": "registered",
        "exam": "Yes",
        "agreement": "Agree",
        "book": "Own Book"
    },
    {
        "sql_id": "Ismoil_Jurayev_TyM3CDh8B",
        "id": "76",
        "name_tj": "Исмоил",
        "last_name_tj": "Ҷураев",
        "name_en": "Ismoil",
        "last_name_en": "Jurayev",
        "gender": "Male",
        "student_group": "중급 1A-1",
        "time_lesson": "09:00",
        "topik": "1 lvl",
        "payment": "Certificate",
        "student_status": "registered",
        "exam": "No",
        "agreement": "Agree",
        "book": "Own Book"
    },
    {
        "sql_id": "Zarina_Qodirova_UkL4YRt6D",
        "id": "77",
        "name_tj": "Зарина",
        "last_name_tj": "Қодирова",
        "name_en": "Zarina",
        "last_name_en": "Qodirova",
        "gender": "Female",
        "student_group": "초급 1B-2",
        "time_lesson": "13:00",
        "topik": "1 lvl",
        "payment": "Cash",
        "student_status": "registered",
        "exam": "No",
        "agreement": "Agree",
        "book": "Buy at Center"
    },
    {
        "sql_id": "Rustam_Karimov_VrP9TZm2F",
        "id": "78",
        "name_tj": "Рустам",
        "last_name_tj": "Каримов",
        "name_en": "Rustam",
        "last_name_en": "Karimov",
        "gender": "Male",
        "student_group": "초급 1B-2",
        "time_lesson": "17:00",
        "topik": "4 lvl",
        "payment": "Certificate",
        "student_status": "registered",
        "exam": "Yes",
        "agreement": "Agree",
        "book": "Own Book"
    },
    {
        "sql_id": "Dilnoza_Usmonova_WqJ7EFn4S",
        "id": "79",
        "name_tj": "Дилноза",
        "last_name_tj": "Усмоновa",
        "name_en": "Dilnoza",
        "last_name_en": "Usmonova",
        "gender": "Female",
        "student_group": "초급 1B-2",
        "time_lesson": "11:00",
        "topik": "2 lvl",
        "payment": "Card",
        "student_status": "registered",
        "exam": "No",
        "agreement": "Agree",
        "book": "Own Book"
    },
    {
        "sql_id": "Abdurahmon_Saidov_XmD2PNr7V",
        "id": "80",
        "name_tj": "Абдураҳмон",
        "last_name_tj": "Саидов",
        "name_en": "Abdurahmon",
        "last_name_en": "Saidov",
        "gender": "Male",
        "student_group": "초급 1B-2",
        "time_lesson": "15:00",
        "topik": "2 lvl",
        "payment": "Certificate",
        "student_status": "registered",
        "exam": "No",
        "agreement": "Agree",
        "book": "Buy at Center"
    },
    {
        "sql_id": "Malika_Khojieva_YnK5SDh6G",
        "id": "81",
        "name_tj": "Малика",
        "last_name_tj": "Хоҷиева",
        "name_en": "Malika",
        "last_name_en": "Khojieva",
        "gender": "Female",
        "student_group": "초급 1B-2",
        "time_lesson": "10:00",
        "topik": "1 lvl",
        "payment": "Card",
        "student_status": "registered",
        "exam": "No",
        "agreement": "Agree",
        "book": "Own Book"
    }
]

In [ ]:
print(data[13]['topik'])

1 lvl

In [ ]:
df = pd.read_csv('StudentPerformanceFactors.csv')

In [ ]:
print(df)

      Hours_Studied  Attendance Parental_Involvement Access_to_Resources  \
0                23          84                  Low                High
1                19          64                  Low              Medium
2                24          98               Medium              Medium
3                29          89                  Low              Medium
4                19          92               Medium              Medium
...             ...         ...                  ...                 ...
6602             25          69                 High              Medium
6603             23          76                 High              Medium
6604             20          90               Medium                 Low
6605             10          86                 High                High
6606             15          67               Medium                 Low

     Extracurricular_Activities  Sleep_Hours  Previous_Scores  \
0                            No            7               73
1                            No            8               59
2                           Yes            7               91
3                           Yes            8               98
4                           Yes            6               65
...                         ...          ...              ...
6602                         No            7               76
6603                         No            8               81
6604                        Yes            6               65
6605                        Yes            6               91
6606                        Yes            9               94

     Motivation_Level Internet_Access  Tutoring_Sessions Family_Income  \
0                 Low             Yes                  0           Low
1                 Low             Yes                  2        Medium
2              Medium             Yes                  2        Medium
3              Medium             Yes                  1        Medium
4              Medium             Yes                  3        Medium
...               ...             ...                ...           ...
6602           Medium             Yes                  1          High
6603           Medium             Yes                  3           Low
6604              Low             Yes                  3           Low
6605             High             Yes                  2           Low
6606           Medium             Yes                  0        Medium

     Teacher_Quality School_Type Peer_Influence  Physical_Activity  \
0             Medium      Public       Positive                  3
1             Medium      Public       Negative                  4
2             Medium      Public        Neutral                  4
3             Medium      Public       Negative                  4
4               High      Public        Neutral                  4
...              ...         ...            ...                ...
6602          Medium      Public       Positive                  2
6603            High      Public       Positive                  2
6604          Medium      Public       Negative                  2
6605          Medium     Private       Positive                  3
6606          Medium      Public       Positive                  4

     Learning_Disabilities Parental_Education_Level Distance_from_Home  \
0                       No              High School               Near
1                       No                  College           Moderate
2                       No             Postgraduate               Near
3                       No              High School           Moderate
4                       No                  College               Near
...                    ...                      ...                ...
6602                    No              High School               Near
6603                    No              High School               Near
6604                    No             Postgraduate               Near
6605                    No              High School                Far
6606                    No             Postgraduate               Near

      Gender  Exam_Score
0       Male          67
1     Female          61
2       Male          74
3       Male          71
4     Female          70
...      ...         ...
6602  Female          68
6603  Female          69
6604  Female          68
6605  Female          68
6606    Male          64

[6607 rows x 20 columns]

In [ ]:
df_sorted = df.sort_values(by='Exam_Score', ascending=True)
display(df_sorted.head())

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
1101,3,62,Medium,Low,No,6,67,Medium,Yes,1,Low,Medium,Public,Negative,3,No,High School,Near,Male,55
5507,5,65,Low,High,No,7,71,Medium,Yes,0,Low,Medium,Private,Negative,2,No,College,Far,Male,56
5907,3,60,Medium,Low,Yes,6,78,Low,Yes,1,Low,Medium,Public,Positive,1,No,Postgraduate,Near,Female,57
3543,14,67,Low,Low,Yes,7,66,Low,Yes,0,Low,Medium,Public,Neutral,4,No,High School,Far,Female,57
5719,9,64,Medium,Low,Yes,10,68,Low,Yes,0,Medium,Medium,Private,Negative,3,No,High School,Near,Male,57

In [ ]:
names_en = [student['name_en'] for student in data]
print(names_en)

['Muhammadrizo', 'Zuhro', 'Farhod', 'Madina', 'Jamshed', 'Nigina', 'Sherzod', 'Mavluda', 'Ismoil', 'Zarina', 'Rustam', 'Dilnoza', 'Abdurahmon', 'Malika']

If you want to extract the names in Tajik, you can use `name_tj` instead:

In [ ]:
names_tj = [student['name_tj'] for student in data]
print(names_tj)

['Муҳаммадризо', 'Зуҳро', 'Фарҳод', 'Мадина', 'Ҷамшед', 'Нигина', 'Шерзод', 'Мавлуда', 'Исмоил', 'Зарина', 'Рустам', 'Дилноза', 'Абдураҳмон', 'Малика']

In [ ]:
male_students = [student for student in data if student['gender'] == 'Male']
male_names = [student['name_en'] for student in male_students]
print(male_names)

['Muhammadrizo', 'Farhod', 'Jamshed', 'Sherzod', 'Ismoil', 'Rustam', 'Abdurahmon']

In [ ]:
average_nums = nums.mean()
print(f"The arithmetic mean of nums is: {average_nums}")

The arithmetic mean of nums is: 6095.0

In [ ]:
b = [1000, 435, 246, 2525, 6787, 25577]

In [ ]:
nums = pd.Series(b)

In [ ]:
nums.sum()

np.int64(36570)

In [ ]:
nums.max()

25577

In [ ]:
nums.min()

246

In [3]:
pd.Series([1,2,5]).product()

np.int64(10)

In [4]:
d = [10, 20, 30, 40]
a = pd.Series(d)

In [5]:
a.mean()

np.float64(25.0)

In [7]:
a.dtype

dtype('int64')

In [14]:
a.lt(25)

0     True
1     True
2    False
3    False
dtype: bool

In [15]:
a.gt(10)

0    False
1     True
2     True
3     True
dtype: bool

In [18]:
a.eq(10)

0     True
1    False
2    False
3    False
dtype: bool

In [19]:
a.ne(10)

0    False
1     True
2     True
3     True
dtype: bool

In [20]:
a.ge(23)

0    False
1    False
2     True
3     True
dtype: bool

In [21]:
a.le(9)

0    False
1    False
2    False
3    False
dtype: bool

In [22]:
a.abs()

0    10
1    20
2    30
3    40
dtype: int64